.dots {
    display: flex;
    align-items: end;
    gap: 8px;
}

.dot {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px !important;
    height: 18px !important;
    border-radius: 50%;
    cursor: pointer;

    border: 1px solid transparent;
    transition: all 0.2s ease-in;
    
    &::before {
        content: "";
        width: 8px !important;
        height: 8px !important ;
        border-radius: 50%;
        background-color: #6C7275;
        transition: all 0.2s ease-in;
    }
    
    &--active {
        border: 1px solid #141718;
        
        &::before {
            content: "";
            background-color: #141718;
        }
    }
}