.values {
    padding: 40px 0;
}

// .values__row {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(261px, 1fr));
//     gap: 24px;
//     justify-content: center;
// }

.values__row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

    & > *  {
        flex: 1;
        min-width: 261px;

        @include mobile {
            min-width: 152px;
        }
    }

    @include mobile {
        display: grid;
        grid-template-columns: repeat(2, minmax(152px, 1fr));
        gap: 24px 8px;
        justify-content: center;
    }
}

